.footer{
    width: 100%;
    height: 100vh;
    background-color: rgb(13, 192, 168);
    color:white;
    padding-top: 180px;
    position: fixed;
    z-index: -2;
    bottom: 0;
    left: 0;
}

.footer-info{
    font-size: 30px;
    padding: 30px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer > h2 {
    padding-bottom: 15px
}

.footer-contact{
    font-size: 25px;
    padding: 100px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer-sns {
    width: 70%;
    position: absolute;
    bottom: 10px; 
    left: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sns-link{
    display: grid;
    grid-template-areas: 'top' 'midle' 'bottom';
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.fa-facebook, .fa-at, .fa-phone{
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
}
a{
    color: white;
    text-decoration: none;
}
.fa-facebook{
    color: rgb(42, 138, 228);
}
.fa-facebook:hover, .fa-at:hover, .fa-phone:hover{
    border-color: white;
    transition: all 0.3s ease-out;
}

.footer-maps {
    font-size: 20px;
    color: white;

}

.footer-maps{
    height: auto;
    width: 50%;
    justify-content: center;
}

@media screen and (max-width: 960px){
    .footer-info, .footer-contact {
        font-size: 15px;
        padding: 50px 0 100px 0;
        text-align: center;
    }

    .footer-sns {
        margin-left: 35%;
        font-size: 15px;
        display:grid;
        text-align: center;
        justify-content: center;
    }
    /*
    .item1{
        grid-area: top;
        
    }
    .item2{
        grid-area: midle;
    }
    .item3{
        grid-area: bottom;
    }
    */
}

@media screen and (max-width: 818px){
    .footer-sns {
        margin-left: 30%;
    }   
}

@media screen and (max-width: 540px){
    .footer-sns {
        margin-left: 25%;
    }
}