:root{
    --blackShadow: rgba(0, 0, 0, 0.6);
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --aqua:rgb(29, 182, 182);
    --brown:rgb(134, 89, 45); 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:serif ,'Times New Roman';
}