.footer{
    width: 100%;
    height: 100vh;
    background-color: var(--aqua);
    color:var(--white);
    padding-top: 80px;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: -2;
    bottom: 0;
    left: 0;
}

.footer-info{
    font-size: 30px;
    padding: 30px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer > h2 {
    padding-bottom: 15px;
}

.footer-contact{
    font-size: 25px;
    padding: 100px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer-sns {
    width: 70%;
    position: absolute;
    bottom: .1%; 
    left: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sns-link{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.fa-facebook, .fa-at, .fa-phone{
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
}
a{
    color: var(--white);
    text-decoration: none;
}
.fa-facebook{
    color: rgb(42, 138, 228);
}
.fa-facebook:hover, .fa-at:hover, .fa-phone:hover{
    border-color: var(--white);
    transition: all 0.3s ease-out;
}

.footer-maps {
    font-size: 20px;
    color: var(--white);
}

.footer-maps{
    height: auto;
    width: 50%;
    justify-content: center;
}

@media screen and (max-width: 960px){
    .footer-info, .footer-contact {
        font-size: 15px;
        padding: 50px 0 100px 0;
        text-align: center;
    }

    .footer-sns {
        display: flex;
        padding: 0 100px 20px 0;
        font-size: 15px;
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 660px){
    .footer-sns {
        padding: 0 0 20px 0;
        font-size: 15px;
       
    }  
}

@media screen and (max-width: 541px){
    .footer-sns {
        padding: 0 0 10px 0;
        font-size: 12px;
    }  
}

@media screen and (max-width: 394px){
    .footer-sns {
        display: grid;
        padding: 0 0 5px 0;
        font-size: 11px;
        top: 450px;
    } 
}