.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    background-color: var(--aqua);
    color:var(--white);
    padding-top: 80px;
    position: fixed;
    z-index: -2;
    bottom: 0;
    left: 0;
}

.footer-info{
    font-size: 30px;
    padding: 30px 0 30px 50px;
    width: 70%;
    margin: 0 auto -5% auto;
}

.footer > h2 {
    padding-bottom: 15px;
}

.footer-contact{
    font-size: 25px;
    padding: 100px 0 30px 50px;
    width: 70%;
    margin: 0 auto;
}

.footer-sns {
    width: 70%; 
    bottom: .1%; 
    margin-left: 20%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

.sns-link{
    display: grid;
    width: 100%;
    margin-top: 10%;
    grid-template-columns: 1fr 1fr 1fr;
}

.fa-facebook, .fa-at, .fa-phone{
    font-size: 35px;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 4px solid transparent;
}
a{
    color: var(--white);
    text-decoration: none;
}
.fa-facebook{
    color: rgb(42, 138, 228);
}
.fa-facebook:hover, .fa-at:hover, .fa-phone:hover{
    border-color: var(--white);
    transition: all 0.3s ease-out;
}

.footer-maps {
    font-size: 20px;
    color: var(--white);
    height: auto;
    width: 50%;
    justify-content: center;
}

.footer-mapframe {
    margin-left: 20%;
    margin-bottom: -2%;
}

@media screen and (max-width: 960px){
    .footer{
        flex-direction: column;
    }
    .footer-info, .footer-contact {
        font-size: 15px;
        padding: 50px 0 100px 0;
        text-align: center;
    }

    .footer-info{
        margin-top: 25%;
    }
   
    .footer-contact{

        margin-bottom: -1%;
}
    .footer-maps{   
        height: 75%;
    }

    .footer-sns {
        display: flex;
        padding: 0 100px 20px 0;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        margin-top: -20%;
        
    }

    .footer-mapframe{
        width: 100%;
        margin-left: 25%;
        margin-bottom: 25%;
    }

    .footer-maps > img {
        width: 100%;
        margin-left: 0;
    }

}

@media screen and (max-width: 660px){
    .footer-maps{
        width: 100%;
        margin-left: 0;
        height: 65%;
    }
    .footer-sns {
        padding: 0 0 20px 0;
        font-size: 15px;
    } 
}

@media screen and (max-width: 541px){
    .footer-maps{
        width: 100%;
        margin-left: 0;
        height: 65%;
    }
    .footer-contact{
        margin-bottom: -15%;
    }
    .footer-mapframe{
        width: 100%;
        margin: 0 0 -5% 0%;
    }
    .footer-sns {
        padding: 0 0 10px 0;
        font-size: 12px;
    }
    
     
}

@media screen and (max-width: 394px){

    .footer-info{
        margin-top: 10%;
        margin-bottom: -20%;
    }
    .footer-sns {
        display: grid;
        padding: 0 0 5px 0;
        margin-left: 30%;
        font-size: 7px;
        top: 460px;
    }   
    .footer-mapframe{
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 382px){

    .footer-info{
        margin-top: 5%;
    }
    .footer-contact{
        margin-top: -10%;
    }
    .footer-sns {
        display: grid;
        padding: 0 0 5px 0;
        margin-left: 30%;
        font-size: 7px;
        top: 460px;
    }   
    .footer-mapframe{
        width: 100%;
        margin-bottom: 0;
        
    }
}

@media screen and (max-width: 374px),
       screen and (max-height: 660px){
    .footer{
        height: 130vh;
    }
    .footer-info{
        margin-top: 15%;
    }
    .footer-contact{
        margin-top: -15%;
        margin-bottom: -15%;
    }
    .footer-mapframe{
        width: 100%;
        margin-top: -10%;
    }
    .footer-sns {
        display: grid;
        padding: 0 0 5px 0;
        margin-left: 30%;
        font-size: 7px;
        top: 460px;
    } 
}
