
.cover-container {
    height: 45vh;
    width: 100%;
    object-fit: contain;
    /*box-shadow: inset 0 0 0 1000px var(--blackShadow);*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
/*aqui esta el error de la imagen es .cover-container lo que la bloquea*/
  .cover-img {
    object-fit: cover;
    width: 100%;
    height: 45vh;
    position: absolute;
    z-index: -1;
  }
  
  .cover-container > h1 {
    color: white;
    font-size: 80px;
  }
  

  @media screen and (max-width: 960px){
    .cover-container > h1{
      font-size: 50px;
    }


  }
  