
.cover-container {
    height: 70vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px var(--blackShadow);
    background: "https://res.cloudinary.com/dazypdtba/image/upload/v1647432144/Mare%20Meva/maremeva_v3ghcn.jpg";
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover-img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: -1;
  }
  
  .cover-container > h1 {
    color: white;
    font-size: 80px;
    z-index: 1;
  }
  

  @media screen and (max-width: 960px){
    .cover-container > h1{
      font-size: 50px;
    }


  }
  